<h1>Comentarios</h1>

<%= link_to 'Ver todos los emails', admin_comment_emails_path %>
<%= link_to 'Añadir comentario (un poco feo, que lo hagamos nosotros, ¿no?', new_admin_comment_path %>

<table>
  <tr>
    <th>Texto</th>
    <th>Nombre</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.content.present? ? comment.content : '<NADA>' %></td>
    <td><%= comment.author %></td>
    <td><%= comment.url %></td>
    <td><%= link_to 'Edit', edit_admin_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', [:admin, comment], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

