<%= content_for :head do %>
    <style type="text/css">
        #unmaldia-canciones {
            left: 360px;
            width: 420px;
            top: 580px;
            height: 600px;
        }

        #unmaldia-interior {
            left: 1620px;
            top: 40px;
            width: 520px;
            height: 280px;
        }

        #estudio {
            left: 810px;
            top: 1072px;
            width: 65px;
            height: 20px;
            transform: rotate(-26deg);
            -webkit-transform: rotate(-26deg);
            -moz-transform: rotate(-26deg);
        }

        #monoblanco {
            left: 940px;
            top: 100px;
            width: 80px;
            height: 80px;
        }
        #krupa {
            left: 1525px;
            top: 520px;
            width: 40px;
            height: 40px;
        }
    </style>
<% end %>
<%= title 'Las Buenas Noches' %>

<div id="playground" class="unselectable" style="display:none; background-color:#140f09;" unselectable="on">
  <div id="draggable" style="width: 2510px; height:1240px;" data-position="leftBottom">
    <img id="img_portada" src="/images/portada-low.jpg" alt="Portada" width="2510" height="1240"/>
    <%= link_to 'Canciones', canciones_path, :id => 'unmaldia-canciones', :class => 'enlace' %>
    <%= link_to 'Un Mal Día (Lo tiene cualquiera)', unmaldia_path, :id => 'unmaldia-interior', :class => 'enlace' %>
    <%= link_to 'Estudio La Mina', 'http://www.myspace.com/grabacionesenlamina', :id => 'estudio', :class => 'enlace' %>
    <%= link_to 'Gene Krupa', 'http://www.youtube.com/watch?v=j9J5Zt2Obko', :id => 'krupa', :class => 'enlace' %>
  </div>
</div>

<div class="image-cache" style="display:none">
  <img class="replacement" data-original="#img_portada" src="https://s3-eu-west-1.amazonaws.com/lbn/portada.jpg"/>
  <div class="cache" data-src="/images/canciones.jpg" >&nbsp;</div>
  <div class="cache" data-src="/images/interior.jpg" >&nbsp;</div>
</div>

