<%= content_for :head do %>
    <style type="text/css">
        #unmaldia-canciones {
            left: 480px;
            width: 310px;
            top: 530px;
            height: 440px;
        }

        #periodico-diagonal {left:2154px;top:1047px;width:204px;height:80px;}

        #aventuras-portada {
            left: 2210px;
            top: 530px;
            width: 88px;
            height: 210px;
        }

        #lovelace {
            left: 1367px;
            top: 710px;
            width: 15px;
            height: 20px;
        }

        #ferlosio {
            left: 200px;
            top: 1067px;
            width: 70px;
            height: 43px;
        }

        #cuberta {
            left: 1215px;
            top: 873px;
            width: 60px;
            height: 60px;
        }

        #gnawa {
            left: 360px;
            top: 1140px;
            width: 110px;
            height: 45px;
        }

        #lcd {
            left: 275px;
            top: 1050px;
            width: 52px;
            height: 115px;
        }

        #everyday {
            left: 1012px;
            top: 650px;
            width: 55px;
            height: 67px;
        }

        #simon {
            left: 470px;
            top: 1090px;
            width: 100px;
            height: 45px;
        }

        #pan {
            left: 1410px;
            top: 740px;
            width: 32px;
            height: 40px;
        }

        #guitarra {
            left: 2377px;
            top: 928px;
            width: 90px;
            height: 110px;
        }

        #incendio {
            left: 1995px;
            top: 1070px;
            width: 135px;
            height: 65px;
        }

        #nina {left:859px;top:1037px;width:14px;height:25px;}

        #krupa {
            left: 435px;
            top: 1010px;
            width: 75px;
            height: 55px;
        }

        #vinyl {
            left: 555px;
            top: 1157px;
            width: 48px;
            height: 34px;
        }

        #ready {left:778px;top:425px;width:81px;height:63px;}

        #banjo {
            left: 1407px;
            top: 1070px;
            width: 107px;
            height: 60px;
        }

        #saturno {left:357px;top:1065px;width:99px;height:42px;}
        #romani {left:656px;top:1000px;width:83px;height:36px;}
        #atahualpa {left:2165px;top:986px;width:64px;height:31px;}

    </style>
<% end %>
<%= title 'Un Mal Día (lo tiene cualquiera)' %>


<div id="playground" unselectable="on" class="unselectable" style="display:none;background-color: #15100a;">
  <div id="draggable" style="width: 2559px; height:1240px;" data-position="leftBottom">
    <img id="img_interior" src="/images/interior-low.jpg" alt="Un Mal Día (Lo tiene cualquiera)" width="2559" height="1240"/>
    <%= link_to 'Canciones', canciones_path, :id => 'unmaldia-canciones', :class => 'enlace' %>
    <%= link_to 'Periódico diagonal', 'http://www.diagonalperiodico.net/', :id => 'periodico-diagonal', :class => 'enlace' %>
    <%= link_to 'Aventuras Domésticas', aventuras_portada_path, :id => 'aventuras-portada', :class => 'enlace' %>
    <%= link_to 'Aventuras Domésticas', aventuras_portada_path, :id => 'incendio', :class => 'enlace' %>
    <%= link_to 'La primera persona programadora', 'http://es.wikipedia.org/wiki/Ada_Lovelace', :id => 'lovelace', :class => 'enlace' %>
    <%= link_to 'Tres amigos', 'http://www.youtube.com/watch?v=WohoxIhOpTk', :id => 'ferlosio', :class => 'enlace' %>
    <%= link_to 'Daniel Cuberta', 'http://www.danielcuberta.com/', :id => 'cuberta', :class => 'enlace' %>
    <%= link_to 'Gnawa', 'http://www.youtube.com/watch?v=Sq0EH4g3DZg', :id => 'gnawa', :class => 'enlace' %>
    <%= link_to 'No estoy a la moda', 'http://www.youtube.com/watch?v=mNA-4tnM_xY', :id => 'lcd', :class => 'enlace' %>
    <%= link_to 'Todos los días', 'http://www.youtube.com/watch?v=GMezwtB1oCU', :id => 'everyday', :class => 'enlace' %>
    <%= link_to 'El Becerrito', 'http://www.youtube.com/watch?v=ujy0KSGWYkM', :id => 'simon', :class => 'enlace' %>
    <%= link_to 'La Panaderia', 'http://despachodepan.com/', :id => 'pan', :class => 'enlace' %>
    <%= link_to 'Guitarra', 'http://www.youtube.com/watch?v=H6BiwajDrYA', :id => 'guitarra', :class => 'enlace' %>
    <%= link_to 'Nina', 'http://www.youtube.com/watch?v=65rz61qOwhc', :id => 'nina', :class => 'enlace' %>
    <%= link_to 'Gene Krupa', 'http://www.youtube.com/watch?v=j9J5Zt2Obko', :id => 'krupa', :class => 'enlace' %>
    <%= link_to 'How to make a vinyl', 'http://www.youtube.com/watch?v=Ln2E6Sc7YJE', :id => 'vinyl', :class => 'enlace' %>
    <%= link_to 'Are you really ready?', 'http://www.youtube.com/watch?v=RHXtB9ssnhw', :id => 'ready', :class => 'enlace' %>
    <%= link_to 'Banjo en la terraza', 'http://www.youtube.com/watch?v=WGgoW9OWM80', :id => 'banjo', :class => 'enlace' %>
    <%= link_to 'Discos saturno', 'http://saturnorecords.com/', :id => 'saturno', :class => 'enlace' %>
    <%= link_to 'Ko to tamo peva', 'http://www.youtube.com/watch?v=0uCTJ7hkX-k', :id => 'romani', :class => 'enlace' %>
    <%= link_to 'La pura verdad', 'http://www.youtube.com/watch?v=QIyMt1bs1_0', :id => 'atahualpa', :class => 'enlace' %>
  </div>
</div>

<div class="image-cache" style="display:none">
  <img class="replacement" data-original="#img_interior" src="https://s3-eu-west-1.amazonaws.com/lbn/interior.jpg"/>
</div>
