<%= content_for :head do %>
    <%= render :partial => 'song_styles' %>
<% end %>

<div id="player" style="display:none;">
  <object data="http://bandcamp.com/EmbeddedPlayer/album=1650859682/size=tall2/bgcol=020b0a/linkcol=c81046//" type="text/html" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="150" height="450"><param name="movie" value="http://bandcamp.com/EmbeddedPlayer/album=1650859682/size=tall2/bgcol=020b0a/linkcol=c81046//"><param name="quality" value="high"><param name="allowNetworking" value="always"><param name="wmode" value="transparent"><param name="bgcolor" value="#020b0a"><param name="allowScriptAccess" value="never"><object data="http://bandcamp.com/EmbeddedPlayer/album=1650859682/size=tall2/bgcol=020b0a/linkcol=c81046//" type="text/html" width="150" height="450"></object></object>
</div>

<div id="playground" unselectable="on" class="unselectable" style="display:none;">
  <div id="draggable" style="width: 1100px; height:820px;">

    <div id="container" style="">
      <div class="row">
        <a id="canciones-aventuras" href="<%= canciones_aventuras_path %>"><img id="lbn" src="/images/aventuras/aventuras.png"/></a>
      </div>

      <div id="songs">
        <% AventurasController::CANCIONES.each_with_index do |cancion, index| %>
            <% if index % 4 == 0 %>
                <div class="row">
            <% end %>
            <div class="song">
              <%= link_to cancion, cancion, :id => "pequena-#{cancion}", :class => 'cancion-pequena' %>
            </div>
            <% if (index + 1) % 4 == 0 %>
                </div>
            <% end %>
        <% end %>
      </div>
      <div id="content">

      </div>
    </div>
  </div>
</div>
<%= title 'Aventuras Domésticas' %>


