<%= content_for :head do %>
    <style type="text/css">
        #aventuras-canciones {
            left:730px;
            top: 10px;bottom:10px;
            width:600px;
        }

        #aventuras-portada {
            left:10px;
            top: 320px;
            width:150px;
            height:150px;
        }
        #hamza {
            left:1440px;
            top: 795px;
            width:230px;
            height:80px;
        }
		#devilsdo {left:431px;top:679px;width:75px;height:177px;}
		#ifinto {left:1488px;top:280px;width:100px;height:107px;}
		
    </style>
<% end %>
<%= title 'Entrada' %>

<div id="playground" unselectable="on" class="unselectable" style="display:none;background-color: #15100a;">
  <div id="draggable" style="width: 2067px; height:966px;" data-position="leftTop">
    <img id="img_cortinas" src="/images/aventuras/cortinas-low.jpg" alt="Un Mal Día (Lo tiene cualquiera)" width="2067" height="966"/>
    <%= link_to 'Canciones', canciones_aventuras_path, :id => 'aventuras-canciones', :class => 'enlace' %>
    <%= link_to 'Portada', aventuras_portada_path, :id => 'aventuras-portada', :class => 'enlace' %>
    <%= link_to 'Se toca así', 'http://www.youtube.com/watch?v=S9tGPTYqfCs', :id => 'hamza', :class => 'enlace' %>
    <%= link_to 'Como hace el diablo', 'http://www.youtube.com/watch?v=qzW79st4Nv8', :id => 'devilsdo', :class => 'enlace' %>
    <%= link_to '¿Estás en ello?', 'http://www.youtube.com/watch?v=pY8jaGs7xJ0', :id => 'ifinto', :class => 'enlace' %>

  </div>
</div>
<div class="image-cache" style="display:none">
  <img class="replacement" data-original="#img_cortinas" src="/images/aventuras/cortinas.jpg" />
</div>
