<div class="list">
	<div class="facebook">
		<a href="http://www.facebook.com/LasBuenasNoches">LBN en facebook</a>
		<iframe src="http://www.facebook.com/plugins/like.php?href=http://lasbuenasnoches.com"
		        scrolling="no" frameborder="0"
		        style="border:none; width:180px; height:28px">
		</iframe>
	</div>
	
  <%= form_for @comment do |form| %>
	<h3>Escríbenosproxy.heroku.com</h3>
      <div>Email: (no saldrá publicado)</div>
      <%= form.text_field :author %>
      <%= form.text_area :content %>
      <%= form.submit 'Enviar' %><%= link_to 'Cerrar', '#', :class => 'toggleComment' %>
  <% end %>
  <div class="comments">
    <% @comments.each do |comment| %>
        <p class="unselectable">
          <span class="time"><%= comment.created_at.strftime("%d/%m/%Y") %>&nbsp;-&nbsp;</span><%= comment.content %>
        </p>
    <% end %>
  </div>
</div>
