<div id="controls" style="display:none;">
  <%= link_to 'Las Buenas Noches', root_path %>
  <%= link_to 'Aventuras Domésticas', '#' %>
  <%= link_to 'Un Mal Día', canciones_path %>
  <%= link_to 'Vídeos', videos_path %>
  <%= link_to 'Comentar', '#' %>
  <div><br/>Próximos conciertos: .....</div>
</div>