<div id="controls" style="display:none;">
  <%= link_to 'Las Buenas Noches' %>
  <%= link_to 'Aventuras Domésticas' %>
  <%= link_to 'Un Mal Día' %>
  <%= link_to 'Vídeos' %>
  <%= link_to 'Comentar' %>
  <%= link_to 'Facebook' %>
  <div><br/>Próximos conciertos: .....</div>
</div>

<div id="playground" unselectable="on" class="unselectable" style="display:none;">
  <div id="draggable" style="width: 2510px; height:1240px;">
    <img src="/images/portada.jpg" alt="Portada" width="2510" height="1240"/>
  </div>
</div>
<div id="center">
  <%= image_tag('unmaldia.jpg', :alt => 'un mal día (lo tiene cualquiera)', :width => 847, :height => 773) %>
</div>
