<div id="controls" style="display:none;">
  <ul>
    <li><a href="<%= root_path %>"><span>Las&nbsp;Buenas&nbsp;Noches</span></a></li>
    <li><a href="<%= unmaldia_path %>"><span>Un&nbsp;Mal&nbsp;Día</span></a></li>
    <li><a href="<%= aventuras_path %>"><span>Aventuras&nbsp;Domésticas</span></a></li>
    <li><a href="<%= videos_path %>"><span>Vídeos</span></a></li>
    <li><a href="#" class="toggleComment"><span>Comentar</span></a></li>
  </ul>
</div>

<div id="comments" style="display:none;">
  <div class="list">
    <%= form_for Comment.new do |form| %>
        <%= form.text_area :content %>
        <%= form.submit 'Enviar' %><%= link_to 'Cerrar', '#', :class => 'toggleComment' %>
    <% end %>
    <% Comment.limit(10).each do |comment| %>
        <p class="unselectable">
          <span class="time">hace <%= time_ago_in_words comment.created_at %>&nbsp;</span><%= comment.content %>
        </p>
    <% end %>
  </div>
</div>