<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6 ie" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7 ie" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8 ie" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title><%= yield :title %> - Las Buenas Noches</title>
  <%= render :partial => '/layouts/meta' %>
  <%= yield :head %>
</head>
<body >
<%= yield %>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<%= render :partial => 'layouts/ga' %>

</body>
</html>
